@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-circle {
    position: relative;
  }
  
  .loader-circle .dot {
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .loader-circle .dot:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: -0.7s;
  }
  
  .loader-circle .dot:nth-child(2) {
    top: 14%;
    left: 85%;
    transform: translate(-50%, -50%);
    animation-delay: -0.6s;
  }
  
  .loader-circle .dot:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    animation-delay: -0.5s;
  }
  
  .loader-circle .dot:nth-child(4) {
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    animation-delay: -0.4s;
  }
  
  .loader-circle .dot:nth-child(5) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: -0.3s;
  }
  
  .loader-circle .dot:nth-child(6) {
    top: 85%;
    left: 14%;
    transform: translate(-50%, -50%);
    animation-delay: -0.2s;
  }
  
  .loader-circle .dot:nth-child(7) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    animation-delay: -0.1s;
  }
  
  .loader-circle .dot:nth-child(8) {
    top: 14%;
    left: 14%;
    transform: translate(-50%, -50%);
    animation-delay: 0s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }